.task-container{
    background-color: #444;
    margin: 8px 0px;
    padding: 15px 20px;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    color: #eee;
    align-items: center;
    
}

.task-title{
    cursor: pointer;
}

.remove-task-button, .see-task-details-button{
    border: none;
    background-color: #444;
    font-weight: bold;
    color: #685B8A;
    font-size: 22px;
    cursor: pointer;
}
